.grid-item {
  float: left ;
  padding: 20px;
}
.grid-floats {
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
}
body {
  background-color: lightblue;
}

@media screen and (min-width: 400px)(max-width:799px) {
  body {
    background-color: lightgreen;
  }
}

@media screen and (min-width: 800px)(max-width:1024px) {
  body {
    background-color: lavender;
  }
}
