.grid-item {
  float: left ;
  padding: 10px;
  width: 100%;
}

.grid-item img {
  width: 100%;
}

#grid-floats {
  float: left;
}

#grid-flex {
  display: flex;
}
body {
  background-color: lightblue;
}

ul,
li {
  list-style: none;
}

@media screen and (min-width: 480px) {
  body {
    background-color: lightgreen;
  }
  .grid-item {
    width: 45%;
  }

  .grid-item:nth-child(3n+3) {
    clear: both;
  }
}

@media screen and (min-width: 800px)  {
  body {
    background-color: lavender;
  }
}
